<h2>Publications</h2>

<ul>
{% for publication in site.data.publications.publications %}
  <li>
    <p>
      {{ publication.title }}<br>
      {{ publication.authors }}<br>
      <strong>{{ publication.venue }}</strong>
      {% if publication.note %}
        {% if publication.highlight %}
          <span style="color: red"><strong>[{{ publication.note }}]</strong></span>
        {% else %}
          ({{ publication.note }})
        {% endif %}
      {% endif %}
      {% if publication.links and publication.links.size > 0 %}
        <br>
        {% for link in publication.links %}<a href="{{ link.url }}">[{{ link.label }}]</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>

{% if site.data.publications.preprints and site.data.publications.preprints.size > 0 %}
<h2>Preprint(s)</h2>

<ul>
{% for publication in site.data.publications.preprints %}
  <li>
    <p>
      {{ publication.title }}<br>
      {{ publication.authors }}<br>
      <strong>{{ publication.venue }}</strong>{% if publication.note %} ({{ publication.note }}){% endif %}
      {% if publication.links and publication.links.size > 0 %}
        <br>
        {% for link in publication.links %}<a href="{{ link.url }}">[{{ link.label }}]</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
      {% endif %}
    </p>
  </li>
{% endfor %}
</ul>
{% endif %}
